<div class="d-flex flex-column min-vh-100">
    <header class="header shadow-sm py-3">
        <nav class="container d-flex justify-content-between align-items-center">
            <h2 class="navbar-brand">Elsevier Insight</h2>
            <div>
                <button class="btn btn-link" (click)="navigateToHome()">Home</button> |
                <button class="btn btn-link" (click)="navigateToContact()">Contact Us</button> |
                <button class="btn btn-link" (click)="navigateToJournal()">Scopus</button> |
                <button class="btn btn-link" (click)="navigateToScidir()">Science Direct</button>
            </div>
        </nav>
    </header>

    <main class="flex-grow-1 d-flex flex-column">
        <router-outlet></router-outlet>
    </main>

    <footer class="footer py-3">
        <div class="container text-center">
            <p>&copy; 2025 Adam Jabłoński. All rights reserved.</p>
        </div>
    </footer>
</div>