<div class="d-flex flex-column flex-grow-1">
    <div class="container flex-grow-1 d-flex flex-column justify-content-center">
        <div class="row justify-content-center align-items-center flex-grow-1">
            <div class="col-12 col-md-7 py-2">
                <div class="content-box text-center rounded">
                    <h1 class="h2">Elsevier API Insight</h1>
                </div>
            </div>
            <div class="col-12 col-md-8 py-2">
                <div class="content-box text-center rounded">
                    <h2 class="h3">Elsevier, Scopus and Science Direct</h2>
                    <p class="mb-0">Elsevier is a global leader in scientific, technical, and medical publishing, providing high-quality research content
                    and tools. Scopus is a comprehensive abstract and citation database that helps researchers track citations, analyze
                    trends, and assess journal impact across various disciplines. ScienceDirect is a leading full-text research platform
                    offering access to a vast collection of academic books and peer-reviewed journals published by Elsevier. Together, these
                    platforms support researchers, educators, and professionals by providing reliable, high-quality scholarly information
                    essential for advancing knowledge and innovation.</p>
                </div>
            </div>
            <div class="col-12 col-md-8 py-2">
                <div class="content-box text-center rounded">
                    <h2 class="h3">Accessing the Data</h2>
                    <p class="mb-0">Accessing API insights into databases like Scopus and ScienceDirect can be highly valuable for researchers,
                    institutions, and developers. APIs enable automated data retrieval, allowing users to integrate real-time citation
                    analysis, publication metrics, and full-text research access into their own platforms or applications. This can
                    streamline literature reviews, enhance bibliometric studies, and support decision-making in research funding and
                    academic evaluations. Additionally, APIs facilitate large-scale data mining, trend analysis, and AI-driven research
                    insights, making it easier to discover emerging topics and collaborations. By leveraging API access, organizations can
                    improve research efficiency, maintain up-to-date knowledge, and develop innovative tools for academic and professional
                    use.</p>
                </div>
            </div>
        </div>
    </div>
</div>